::-webkit-scrollbar{
    width: 0;
}

main{
    position: relative;
}

main>div:nth-child(4){
    position: fixed;
    width: 15vw;
    height: 15vw;
    border: 15px solid #718093;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>div:nth-child(5){
    position: fixed;
    width: 13vw;
    height: 13vw;
    border: 15px solid #EB2F06;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

section{
    width: 100vw;
    height: 100vh;
    position: relative;
}

main>section:nth-child(1)>div{
    position: absolute;
    width: 13vw;
    height: 13vw;
    background-color: #be2edd;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(2)>div{
    position: absolute;
    width: 13vw;
    height: 13vw;
    background-color: #0652DD;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(3)>div{
    position: absolute;
    width: 13vw;
    height: 13vw;
    background-color: #ff6348;
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h1{
    color: white;
    font-size: 18px;
    text-align: center;

}