section{
    width: 1200px;
    height: 600px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

div{
    box-shadow: 1px 2px 3px 1px #aaa69d;
}

section>div:nth-child(1){
    /*background-color: #ffa502;*/
    background: url("../images/ball.png");
    background-size: cover;
}

section>div:nth-child(2){
    /*background-color: #ff4757;*/
    background: url("../images/car.png");
    background-size: cover;
}

section>div:nth-child(3){
    /*background-color: #4cd137;*/
    background: url("../images/elephant.png");
    background-size: cover;
}

section>div:nth-child(4){
    /*background-color: #0097e6;*/
    background: url("../images/girl.png");
    background-size: cover;
}

section>div:nth-child(5){
    /*background-color: #EA2027;*/
    background: url("../images/hotel.png");
    background-size: cover;
}

section>div:nth-child(6){
    /*background-color: #fed330;*/
    background: url("../images/lap.png");
    background-size: cover;
}

section>div:nth-child(7){
    /*background-color: #20bf6b;*/
    background: url("../images/leopar.png");
    background-size: cover;
}

section>div:nth-child(8){
    /*background-color: #eb3b5a;*/
    background: url("../images/programmer.png");
    background-size: cover;
}

section>div:nth-child(9){
    /*background-color: #fff200;*/
    background: url("../images/ring.png");
    background-size: cover;
}

section>div:nth-child(10){
    /*background-color: #c56cf0;*/
    background: url("../images/ship.png");
    background-size: cover;
}

section>div:nth-child(11){
    /*background-color: #7d5fff;*/
    background: url("../images/tower.png");
    background-size: cover;
}

section>div:nth-child(12){
    /*background-color: #ff5252;*/
    background: url("../images/water.png");
    background-size: cover;
}

