header{
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 4px 0 black;
    width: 100%;
    top: 0;
    z-index: 2;
}

header>img{
    position: relative;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

header>nav{
    position: absolute;
    top: 0;
    right: 50px;
}

header>nav>ul>li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

header ul>li>a{
    color: black;
    text-decoration: none;
}

header ul>li>i{
    padding-right: 10px;
}

header ul>li:hover a{
    color: red;
}

header ul>li:hover i{
    color: red;
}

main{
    position: relative;
    margin-top: 60px;
}

main>nav ul>li{
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    padding-top: 20px;
}

main>nav ul>li>a{
    color: white;
    text-decoration: none;
}

main>nav ul>li:hover a{
    color: red;
}

main>nav ul>li:hover i{
    color: red;
}

main>nav{
    position: absolute;
    background-color: blue;
    width: 20vw;
    top: 0;
    bottom: 0;
}
