main{
    width: 100vw;
    height: 100vh;
}

main > div:nth-child(1)>div{
    width: 100vw;
    height: 100vh;
    background-image: url(../images/sky.jpg);
}

main > div:nth-child(3){
    width: 100vw;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

main > div:nth-child(3)>div{
    display: flex;
    width: 300%;
}

main > div:nth-child(3)>div>div{
    width: 1347px;
    height: 275px;
    background-image: url(../images/road.jpg);
    animation: city 5s linear infinite;
}

main > div:nth-child(2)>div>div{
    width: 1347px;
    height: 335px;
    background-image: url(../images/city.png);
    animation: city 5s linear infinite;
}

@keyframes city {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

main > div:nth-child(2){
    width: 100vw;
    overflow: hidden;
    position: absolute;
    bottom: 190px;
}

main > div:nth-child(2)>div{
    display: flex;
    width: 300%;
}

main > div:nth-child(4){
    position: absolute;
    width: max-content;
    height: max-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

main > div:nth-child(4)>div:first-child>div{
    width: 460px;
    height: 160px;
    background-image: url(../images/car.png);
    position: relative;
    background-size: cover;
    top: 50px;
}

main > div:nth-child(4)>div:last-child>div{
    width: 90px;
    height: 90px;
    background-image: url(../images/wheel.png);
    position: absolute;
    background-size: cover;
    top: 149px;
    animation: wheel 3s linear infinite;
}

@keyframes wheel {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

main > div:nth-child(4)>div:last-child>div:first-child{
    left: 37px;
}

main > div:nth-child(4)>div:last-child>div:last-child{
    right: 52px;
}