:root{
    --cl-main : rgba(55, 66, 250,1.0);
    --cl-main-light: rgba(55, 66, 250,0.5);
    --cl-main-90: rgba(55, 66, 250,0.9);
    --cl-main-80: rgba(55, 66, 250,0.8);
    --cl-main-70: rgba(55, 66, 250,0.7);
}