:root{
    --cl-main: rgba(255, 195, 18,1.0);
    --cl-main-light: rgba(255, 195, 18,0.5);
    --cl-main-90: rgba(255, 195, 18,0.9);
    --cl-main-80: rgba(255, 195, 18,0.8);
    --cl-main-70: rgba(255, 195, 18,0.7);
}