:root{
    --cl-main : rgba(50, 255, 126,1.0);
    --cl-main-light: rgba(50, 255, 126,0.5);
    --cl-main-90: rgba(50, 255, 126,0.9);
    --cl-main-80: rgba(50, 255, 126,0.8);
    --cl-main-70: rgba(50, 255, 126,0.7);
}