:root{
    --cl-main : rgba(243, 104, 224,1.0);
    --cl-main-light: rgba(243, 104, 224,0.5);
    --cl-main-90: rgba(243, 104, 224,0.9);
    --cl-main-80: rgba(243, 104, 224,0.8);
    --cl-main-70: rgba(243, 104, 224,0.7);
}