*{
    font-family: 'Inter', sans-serif;
}

.header>.logo>p,  .header>.logo>p span{
    font-family: 'Permanent Marker', cursive;
}

.name-txt{
    font-family: 'DynaPuff', cursive;
}

main>section>header>h1 {
    font-family: 'Poppins', sans-serif;
}

.sub-topic {
    font-family: 'Permanent Marker', cursive;
}

.project>.img-box>div .box>div:nth-child(2) {
    font-family: 'Poppins', sans-serif;
}

.assignment aside>div>.text {
    font-family: 'Ubuntu', sans-serif;
}

.assignment aside>div>.btn a {
    font-family: 'Ubuntu', sans-serif;
}

.educate>div p{
    font-family: 'Poppins', sans-serif;
}

.about-topic {
    font-family: 'Tomorrow', sans-serif;
}

.about-txt-left {
    font-family: 'Tinos', serif;
}

.about-txt-right {
    font-family: 'Tomorrow', sans-serif;
}

.contact>article>p{
    font-family: 'Ubuntu', sans-serif;
}

.contact-details>h3{
    font-family: 'Poppins', sans-serif;
}

.contact-details>h4 {
    font-family: 'Poppins', sans-serif;
}

.foot>.logo p {
    font-family: 'Permanent Marker', cursive;
}

.contact-form h1{
    font-family: 'Poppins', sans-serif;
}