@media all and (max-width: 325px) {

    main>section>header {
        left: 40px;
        margin: 0;
        width: 0;
        height: 0;
        top: 0;
        position: relative;
    }

    main>section>header>h1 {
        height: max-content;
    }
    /*----------Header-Start----------*/
    body>header{
        height: 70px;
    }

    .header>.logo>a {
        display: none;
    }

    .header>.logo>p{
        top: 5px;
        left: 0;
        right: 0;
        width: max-content;
        margin: auto;
    }

    .menu-bar{
        top: 45px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
    }

    .menu{
        padding: 0;
        width: max-content;
    }

    .menu>li{
        cursor: pointer;
        font-size: 12px;
        padding: 0 5px 0 0;
        margin: 0;
    }

    .menu>li i:last-child {
        display: none;
    }

    /*----------Home-Start----------*/
    .dot-bord-01>.div{
        top: 80px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        gap: 20px;
    }

    .hello-txt{
        left: 25px;
        top: 80px;
        font-size: 65px;
    }

    .name-txt{
        left: 80px;
        top: 160px;
        font-size: 30px;
        width: max-content;
    }

    .name-txt>img{
        width: 30px;
        height: 30px;
    }

    .des-txt{
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        top: 215px;
        font-weight: 400;
        font-size: 15px;
    }

    .home-btn {
        top: 265px;
        left: 0;
        right: 0;
        gap: 45px;
    }

    .home-btn a {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .home-img .dot-bord-02{
        display: none;
    }

    .home-img>.vector{
        display: none;
    }

    .home-img>.img {
        display: none;
    }

    .home .social-bar{
        position: absolute;
        top: 315px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
    }

    .home>.social-bar>.social img {
        width: 40px;
        height: 40px;
    }

    .home>.social-bar>.social ul li .fa {
        font-size: 45px;
    }

    .home>.social-bar>.social ul {
        gap: 10px;
        width: max-content;
    }

    .home>.social-bar>.social ul li {
        width: 50px;
        height: 50px;
    }

    .home>.social-bar>.social img {
        width: 40px;
        height: 40px;
    }

    .home>.social-bar>.social {
        position: initial;
        top: 484px;
        left: 190px;
    }

    .home{
        height: 420px;
    }

    /*----------Skill-Start----------*/
    .skills{
        height: 700px;
    }

    .skill{
        display: block;
        position: relative;
        left: 13px;
    }

    .skill>div:first-child{
        width: 0;
        top: 10px;
    }

    .skill .sub-topic {
        position: relative;
        margin: 0;
        left: 12px;
        font-size: 30px;
        width: max-content;
    }

    .skill-icon {
        width: max-content;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        position: relative;
        gap: 20px;
    }

    .skill-icon>div {
        width: 60px;
        height: 60px;
        border-radius: 15px;
    }

    .skill-icon img{
        width: 40px;
    }

    .skill>div:last-child{
        width: 0;
        top: 285px;
    }

    /*----------Project-Start----------*/

    .project{
        height: 580px;
    }

    .project>.img-box{
        top: 70px;
        left: 0;
        right: 0;
        margin: auto;
        width: 250px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
    }

    .project>.img-box aside {
        display: flex;
        flex-flow: row;
        height: max-content;
        width: max-content;
        gap: 0;
    }

    .project>.img-box .card{
        border-radius: 0;
    }

    .project>.img-box aside {
        animation-name: project-img;
        animation-duration: 25s;
        animation-iteration-count: infinite;
        animation-direction: normal;
    }

    @keyframes project-img {

        0%, 10% {
            transform: translateX(0);
        }
        15%, 25% {
            transform: translateX(-250px);
        }
        30%, 40% {
            transform: translateX(-500px);
        }
        45%, 55% {
            transform: translateX(-750px);
        }
        60%, 70% {
            transform: translateX(-1000px);
        }
        75%, 85% {
            transform: translateX(-1250px);
        }
        90%, 100% {
            /* transform: translateX(-1800px); */
        }
    }

    .project>.disc-box{
        top: 235px;
        left: 0;
        right: 0;
        margin: auto;
        height: 295px;
        width: 285px;
    }

    @keyframes project {

        0%, 10% {
            transform: translateY(0);
        }
        15%, 25% {
            transform: translateY(-295px);
        }
        30%, 40% {
            transform: translateY(-590px);
        }
        45%, 55% {
            transform: translateY(-885px);
        }
        60%, 70% {
            transform: translateY(-1180px);
        }
        75%, 85% {
            transform: translateY(-1475px);
        }
        90%, 100% {
            /* transform: translateY(-1800px); */
        }
    }

    .project>.disc-box>aside>div{
        height: 295px;
        width: 285px;
    }

    .project>.disc-box>aside>div h3{
        font-size: 19px;
    }

    .project>.disc-box>aside>div P{
        font-size: 15px;
        width: 255px;
    }

    /*----------Assignment-Start----------*/

    .assignment{
        height: 500px;
    }

    .assignment>section{
        width: 300px;
        top: 70px;
    }

    .assignment aside{
        animation-duration: 55s;
        gap: 0;
    }

    @keyframes assign {
        0%, 2.5% {
            transform: translateX(0);
        }
        5%, 7.5% {
            transform: translateX(-300px);
        }
        10%, 12.5% {
            transform: translateX(-600px);
        }
        15%, 17.5% {
            transform: translateX(-900px);
        }
        20%, 22.5% {
            transform: translateX(-1200px);
        }
        25%, 27.5% {
            transform: translateX(-1500px);
        }
        30%, 32.5% {
            transform: translateX(-1800px);
        }
        35%, 37.5% {
            transform: translateX(-2100px);
        }
        40%, 42.5% {
            transform: translateX(-2400px);
        }
        45%, 47.5% {
            transform: translateX(-2700px);
        }
        50%, 52.5% {
            transform: translateX(-3000px);
        }
        55%, 57.5% {
            transform: translateX(-3300px);
        }
        60%, 62.5% {
            /*transform: translateX(-3600px);*/
        }
        65%, 67.5% {
            /*transform: translateX(-3900px);*/
        }
        100% {
        }
    }

    .assignment aside>div>.img{
        height: 185px;
        width: 300px;
    }

    .assignment aside>div img {
        height: 185px;
        width: 300px;
    }



    .about{
        display: none;
    }
    .contact{
        display: none;
    }
    .education{
        display: none;
    }


    .call {
        width: 50px;
        height: 50px;
        right: 24px;
        bottom: 50px;
    }

    .call div {
        width: 40px;
        height: 40px;
    }

    .call div::before {
        width: 40px;
        height: 40px;
    }

    /*----------Footer-Start----------*/

    .foot .logo{
        display: none;
    }

    .my-sev {
        position: absolute;
        top: 15px;
        left: 15px;
        height: max-content;
        width: max-content;
    }

    .my-sev h5 {
        position: relative;
        top: 0;
        left: 0;
    }

    .my-sev ul {
        position: relative;
        top: 5px;
        left: 0;
        margin: 0;
        padding-left: 20px;
    }

    .my-sev li{
        padding-bottom: 5px;
    }

    .foot .menu-bar{
        display: none;
    }

    .foot>.social-bar>.social {
        top: 10px;
        right: 20px;
        display: flex;
        flex-flow: column;
    }

    .foot>.social-bar>.social img {
        width: 25px;
        height: 25px;
        padding-bottom: 5px;
        padding-right: 0;
    }
}