@media all and (max-width: 325px) {

    main>section>header {
        left: 40px;
        margin: 0;
        width: 0;
        height: 0;
        top: 0;
        position: relative;
    }

    main>section>header>h1 {
        height: max-content;
    }
    /*----------Header-Start----------*/
    body>header{
        height: 70px;
    }

    .header>.logo>a {
        display: none;
    }

    .header>.logo>p{
        top: 5px;
        left: 0;
        right: 0;
        width: max-content;
        margin: auto;
    }

    .menu-bar{
        top: 45px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
    }

    .menu{
        padding: 0;
        width: max-content;
    }

    .menu>li{
        cursor: pointer;
        font-size: 12px;
        padding: 0 5px 0 0;
        margin: 0;
    }

    .menu>li i:last-child {
        display: none;
    }

    /*----------Home-Start----------*/
    .dot-bord-01>.div{
        top: 80px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        gap: 20px;
    }

    .hello-txt{
        left: 25px;
        top: 80px;
        font-size: 65px;
    }

    .name-txt{
        left: 80px;
        top: 160px;
        font-size: 30px;
        width: max-content;
    }

    .name-txt>img{
        width: 30px;
        height: 30px;
    }

    .des-txt{
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
        top: 215px;
        font-weight: 400;
        font-size: 15px;
    }

    .home-btn {
        top: 265px;
        left: 0;
        right: 0;
        gap: 45px;
    }

    .home-btn a {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .home-img .dot-bord-02{
        display: none;
    }

    .home-img>.vector{
        display: none;
    }

    .home-img>.img {
        display: none;
    }

    .home .social-bar{
        position: absolute;
        top: 315px;
        left: 0;
        right: 0;
        margin: auto;
        width: max-content;
    }

    .home>.social-bar>.social img {
        width: 40px;
        height: 40px;
    }

    .home>.social-bar>.social ul li .fa {
        font-size: 45px;
    }

    .home>.social-bar>.social ul {
        gap: 10px;
        width: max-content;
    }

    .home>.social-bar>.social ul li {
        width: 50px;
        height: 50px;
    }

    .home>.social-bar>.social img {
        width: 40px;
        height: 40px;
    }

    .home>.social-bar>.social {
        position: initial;
        top: 484px;
        left: 190px;
    }

    .home{
        height: 420px;
    }

    /*----------Skill-Start----------*/
    .skills{
        height: 670px;
    }

    .skill{
        display: inline;
        position: relative;
        left: 13px;
    }

    .skill>div:first-child{
        width: 0;
        top: 10px;
    }

    .skill .sub-topic {
        position: relative;
        margin: 0;
        left: 12px;
        font-size: 30px;
        width: max-content;
    }

    .skill-icon {
        width: max-content;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        position: relative;
        gap: 20px;
    }

    .skill-icon>div {
        width: 60px;
        height: 60px;
        border-radius: 15px;
    }

    .skill-icon img{
        width: 40px;
    }

    .skill>div:last-child{
        width: 0;
        top: 285px;
    }

    .project{
        display: none;
    }
    .assignment{
        display: none;
    }
    .about{
        display: none;
    }
    .contact{
        display: none;
    }
    .education{
        display: none;
    }

    .my-sev{
        display: none;
    }

    .call{
        display: none;
    }
    footer{
        top: 120px;
    }
}