/*----------Header-Start----------*/
body>header{
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50px;
    position: fixed;
    background-color: #FFB800;
}

.header>.logo>a img{
    height: 45px;
    left: 15px;
    top: 2px;
    position: absolute;
    background-blend-mode: darken;
}

.header>.logo>p{
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    position: absolute;
    margin: 0;
    top: 7px;
    left: 75px;
}

nav>.menu{
    position: absolute;
    height: 18px;
    list-style: none;
}

nav>.menu>li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

nav>.menu>li>a{
    color: black;
    text-decoration: none;
}

nav>.menu>li:hover a{
    color: white;
}

.header>nav>.menu{
    top: 0;
    margin: 0;
    padding-top: 6px;
    right: 32px;
}
/*----------Header-End----------*/

/*----------Home-Start----------*/
.home>aside:first-child>img{
    position: absolute;
    top: 75px;
    left: 85px;
    width: 250px;
    height: 280px;
}

.hello-txt{
    position: absolute;
    left: 100px;
    top: 105px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 120px;
    color: #848484;
}

.name-txt{
    position: absolute;
    width: 259px;
    height: 41px;
    left: 200px;
    top: 250px;
    font-family: 'DynaPuff', cursive;
    font-weight: 600;
    font-size: 43px;
    color: #000000;
}

.name-txt>u{
    color: #FFB800;
    text-decoration-color: black;
}

.name-txt>img{
    position: absolute;
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.des-txt{
    position: absolute;
    left: 200px;
    top: 320px;
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.home-btn{
    display: flex;
    top: 375px;
    left: 150px;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.home-btn>a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    transition: 0.5s;
}

.downloadCV-btn{
    border: 2px solid black;
}

.contact-btn{
    border: 2px solid #FFB800;
}

.home-btn>a::before{
    content: '';
    position: absolute;
    inset: 2px;
}

.home-btn>a span{
    position: relative;
    z-index: 1;
}

.home-btn>a i{
    position: absolute;
    inset: 0;
    display: block;
}

.home-btn>a i::before{
    content: '';
    position: absolute;
    top: -8px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border: 2px solid var(--cl);
    transition: 0.5s;
}

.home-btn>a:hover i::before{
    left: 0;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 33px 32px var(--cl);
}

.home-btn>a i::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: -1px;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: white;
    border: 2px solid var(--cl);
    transition: 0.5s;
}

.home-btn>a:hover i::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 33px -32px var(--cl);
}

.home>nav:last-child>div{
    position: absolute;
    top: 485px;
    left: 195px;
}

.home>nav:last-child>div a{
    text-decoration: none;
}

.home>nav:last-child>div img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.home-img>img:first-child{
    position: absolute;
    right: 80px;
    top: 190px;
    width: 400px;
}

.home-img>img:nth-child(2){
    position: absolute;
    right: 70px;
    top: 80px;
    width: 450px;
}

.home-img>img:nth-child(3){
    width: 330px;
    position: absolute;
    top: 100px;
    right: 130px;
}

.skills>aside img{
    width: 50px;
}
/*----------Home-End----------*/
