/*----------Header-Start----------*/
body>header{
    top: 0;
    width: 99.6vw;
    height: 50px;
    position: fixed;
    background-color: #FFB800;
    z-index: 2;
}

.header>.logo>a img{
    height: 45px;
    left: 15px;
    top: 2px;
    position: relative;
    background-blend-mode: darken;
}

.header>.logo>p{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    position: absolute;
    margin: 0;
    top: 7px;
    left: 75px;
}

.menu-bar{
    position: absolute;
    top: 10px;
    right: 50px;
}

.menu>li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
}

.menu>li i:first-child{
    padding-right: 5px;
    font-size: 19px;
}

.menu>li>a {
    color: black;
}

.menu>li>a i{
    font-style: normal;
}

.menu>li:hover a{
    color: white;
    -webkit-text-stroke: 0.01em black;
}

.menu{
    margin: 0;
}
/*----------Header-End----------*/

/*----------Home-Start----------*/
.dot-bord-01>.div{
    position: absolute;
    top: 95px;
    left: 65px;
}

.hello-txt{
    position: absolute;
    left: 100px;
    top: 105px;
    font-weight: 700;
    font-size: 120px;
    color: #848484;
}

.name-txt{
    position: absolute;
    width: 259px;
    height: 41px;
    left: 200px;
    top: 250px;
    font-weight: 600;
    font-size: 43px;
    color: #000000;
}

.name-txt>u{
    color: #FFB800;
    text-decoration-color: black;
}

.name-txt>img{
    position: absolute;
    width: 50px;
    height: 50px;
    padding-left: 10px;
}

.des-txt{
    position: absolute;
    left: 200px;
    top: 320px;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.home-btn{
    display: flex;
    top: 375px;
    left: 150px;
    position: absolute;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.home-btn a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 8px 16px 8px 16px;
    transition: 0.5s;
}

.downloadCV-btn{
    border: 2px solid black;
}

.contact-btn{
    border: 2px solid #FFB800;
}

.home-btn a span{
    position: relative;
    z-index: 1;
}

.home-btn a i{
    position: absolute;
    inset: 0;
    display: block;
}

.home>.social-bar>.social{
    position: absolute;
    top: 480px;
    left: 190px;
}

.home>.social-bar>.social a{
    text-decoration: none;
}

.home>.social-bar>.social img{
    width: 50px;
    height: 50px;
}

.home>.social-bar>.social div{
    position: absolute;
    top: -60px;
    height: 60px;
    width: 60px;
}

.home>.social-bar>.social ul{
    position: relative;
    display: flex;
    gap: 30px;
    padding: 0;
}

.home>.social-bar>.social ul li{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.dot-bord-02>.div{
    position: absolute;
    top: 190px;
    right: 470px;
}

.home-img>.vector{
    position: absolute;
    right: 70px;
    top: 80px;
    width: 450px;
}

.home-img>.img{
    width: 330px;
    position: absolute;
    top: 100px;
    right: 130px;
}
/*----------Home-End----------*/
::-webkit-scrollbar{
    width: 5px;
    height: 0;
}

::-webkit-scrollbar-thumb{
    background: #FFB800;
    border-radius: 50px;
}

main>section{
    width: 99.6vw;
    height: 100vh;
    position: relative;
}

main>section>header{
    position: sticky;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 30px;
}

main>section>header>h1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 30px;
    color: #020202;
}

.sub-topic{
    font-weight: 400;
    font-size: 33px;
    color: #FFB800;
}

.background-logo{
    width: 500px;
    height: 500px;
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
/*----------Skill-Start----------*/
.skill{
    top: 50px;
    width: 0;
    height: 0;
    position: absolute;
}

.skill>div{
    width: 680px;
    position: relative;
    top: 70px;
}

.skill-icon{
    width: 0;
    height: 0;
    top: 35px;
    left: 85px;
    position: relative;
}

.skill-icon>div {
    width: 100px;
    height: 100px;
    background: #D9D9D9;
    border-radius: 25px;
    position: relative;
}

.skill .sub-topic{
    width: 100%;
    margin: 0;
    text-align: center;
}

.skill-icon img{
    width: 60px;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.skill-icon img:hover{
    width: 65px;
}
/*----------Skill-End----------*/
/*----------Project-Start----------*/
.project>.img-box{
    position: absolute;
    top: 200px;
    left: 100px;
}

.project>.img-box .card{
    border-radius: 10px;
    background-color: #D9D9D9;
    width: 250px;
    height: 150px;
}

.project>.img-box div .box>div:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #020202;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.project>.disc-box{
    position: absolute;
    top: 200px;
    left: 965px;
    height: 325px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.project>.disc-box>aside{
    display: flex;
    flex-flow: column;
    height: max-content;
    width: max-content;
}

.project>.disc-box>aside>div{
    background-color: #eee;
    position: relative;
    width: 300px;
    height: 325px;
}

.project>.disc-box>aside>div h3{
    text-decoration: underline;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    position: relative;
    top: 25px;
    margin: 0;
}

.project>.disc-box>aside>div P{
    font-size: 19px;
    line-height: 24px;
    text-align: justify;
    color: #000000;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 275px;
}
/*----------Project-End----------*/
/*----------Assignment-Start----------*/
.assignment>section{
    width: 1190px;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.assignment aside{
    display: flex;
    height: max-content;
    gap: 10px;
}

.assignment aside>div{
    position: relative;
    height: 375px;
    width: 300px;
    background-color: #eee;
    box-shadow: 1px 3px 5px 1px #eee;
}

.assignment aside>div>.img{
    height: 210px;
    width: 290px;
    position: relative;
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.assignment aside>div  img{
    height: 210px;
    width: 290px;
}

.assignment aside>div>.text{
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    margin: auto;
    width: 265px;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

.assignment aside>div>.btn{
    height: 30px;
    width: 70px;
    border-radius: 10px;
    background-color: #FFB800;
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: auto;
}

.assignment aside>div>.btn a{
    color: #020202;
    height: 100px;
    width: 100px;
    text-decoration: none;
}

.assignment aside>div>.btn:hover {
    height: 35px;
    width: 75px;
}

.assignment aside>div>.btn a:hover {
    color: #eee;
    letter-spacing: 0.1em;
    text-shadow: #020202;
    font-weight: bold;
}
/*----------Assignment-End----------*/
/*----------Education-Start----------*/
.education{
    height: 180vh;
}

.educate>div{
    width: 490px;
    border-radius: 25px;
    position: absolute;
    border: 4px solid #FFB800;
}

.educate>.div-01{
    top: 140px;
    right: 80px;
}

.educate>.div-01>div:last-child{
    width: 400px;
    position: relative;
    left: 85px;
}

.educate>.div-02{
    top: 255px;
    left: 80px;
}

.educate>.div-02>div:last-child{
    width: 400px;
    position: relative;
    left: 80px;
}

.educate>.div-03{
    top: 350px;
    right: 80px;
}

.educate>.div-04{
    top: 485px;
    left: 80px;
}

.educate>div p{
    position: relative;
    color: #000000;
    margin: 0;
    text-align: center;
    padding: 0 10px 0 10px;
}

.educate>.div-01 img{
    position: absolute;
    width: 87px;
    border-radius: 23px 0 0 23px;
}

.educate>.div-02 img{
    position: absolute;
    width: 77px;
    border-radius: 23px 0 0 23px;
}

.educate>.div-03 img{
    position: relative;
    top: 5px;
    left: 87px;
    width: 310px;
}

.educate>.div-04 img{

}

.educate>div p:nth-child(1){
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.educate>div p:nth-child(2){
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.educate>div p:nth-child(3){
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    opacity: 0.8;
}

.educate>.chart>.line>div{
    width: 6px;
    height: 105px;
    background-color: black;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.educate>.chart>.line>div:nth-child(1){
    top: 192px;
}

.educate>.chart>.line>div:nth-child(2){
    top: 312px;
}

.educate>.chart>.line>div:nth-child(3){
    top: 430px;
}

.educate>.chart>.circle>div{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FFB800;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.educate>.chart>.circle>div:nth-child(1){
    top: 175px;
}

.educate>.chart>.circle>div:nth-child(2){
    top: 295px;
}

.educate>.chart>.circle>div:nth-child(3){
    top: 415px;
}

.educate>.chart>.circle>div:nth-child(4){
    top: 530px;
}

.educate>.chart>.arrow>div{
    position: absolute;
}

.educate>.chart>.arrow>div>i{
    width: 0;
    height: 0;
    font-size: 50px;
    color: black;
}

.educate>.chart>.arrow>div:nth-child(1){
    top: 160px;
    left: 705px;
}

.educate>.chart>.arrow>div:nth-child(2){
    top: 285px;
    left: 655px;
    transform: rotate(180deg);
}

.educate>.chart>.arrow>div:nth-child(3){
    top: 400px;
    left: 705px;
}

.educate>.chart>.arrow>div:nth-child(4){
    top: 520px;
    left: 655px;
    transform: rotate(180deg);
}

.certificate{
    position: absolute;
    bottom: 500px;
    width: 100%;
}

.certificate>.sub-topic{
    position: relative;
    margin: 0;
    left: 35px;
    display: inline;
}

.certificate>.img{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1345px;
    overflow: hidden;
}

.certificate>.img>div{
    display: flex;
    height: 100%;
    gap: 5px;
}

.certificate>.img>div>div{
    border: 5px solid #eee;
    border-radius: 25px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificate>.img img{
    width: 435px;
    border-radius: 20px;
}
/*----------Education-End----------*/
/*----------About-Start----------*/
.about{
    height: 190vh;
}

.gallery>.sub-topic{
    position: absolute;
    top: 115px;
    left: 35px;
    margin: 0;
}

.gallery .photo{
    width: 1262px;
    height: 610px;
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    margin: auto;
}

.gallery .photo>div{
    width: 310px;
    border: 1px solid;
}

.details{
    position: absolute;
    bottom: 80px;
    left: 108px;
    width: 400px;
    font-style: normal;
}

.about-line-left>hr:first-child{
    position: absolute;
    height: 180px;
    width: 0;
    margin: 0;
    top: 5px;
    left: -20px;
    border: 1px solid #FFB800;
}

.about-line-left>hr:last-child{
    position: absolute;
    height: 160px;
    width: 0;
    top: 5px;
    margin: 0;
    left: -10px;
    border: 1px solid #FFB800;
}

.about-topic{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
}

.details>p{
    padding-left: 40px;
}

.details>p>span:first-child{
    padding-right: 10px;
}

.about-txt-left{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.about-txt-right{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.about-line-right>hr:first-child{
    position: absolute;
    height: 180px;
    width: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #FFB800;
}

.about-line-right>hr:last-child{
    position: absolute;
    height: 160px;
    width: 0;
    bottom: 0;
    margin: 0;
    right: 10px;
    border: 1px solid #FFB800;
}

.interests{
    position: absolute;
    height: 470px;
    width: 505px;
    bottom: 100px;
    right: 60px;
}

.interests .box{
    width: 150px;
    height: 115px;
    background: rgba(217, 217, 217, 0.6);
    border-radius: 50px;
}

.interests .box>.box{
    margin-left: 20px;
}

.interests .box img{
    position: relative;
    top: 12px;
    left: 35px;
}

.interests .box p{
    position: relative;
    top: 15px;
    margin: 0;
    text-align: center;
    width: 130px;
}

.interests>div{
    position: absolute;
    width: 485px;
    height: 365px;
    bottom: 0;
}

.interests>div>div:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}

.interests>div>div:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
}

.interests>div>div:nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.interests>div>div:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
}

.interests>div>div:nth-child(5){
    position: absolute;
    bottom: 0;
    right: 0;
}
/*----------About-End----------*/
/*----------Contact-Start----------*/
.contact>article{
    width: 375px;
    height: 220px;
    position: absolute;
    top: 125px;
    left: 170px;
}

.contact .sub-topic{
    margin: 0;
}

.contact>article>div{
    display: flex;
}

.contact-article-underline>hr{
    height: 2px;
    background-color: rgba(2, 2, 2, 0.5);
}

.contact-article-underline>hr:first-child{
    margin: 0;
    width: 125px;
}

.contact-article-underline>hr:last-child{
    margin: 0 0 0 13px;
    width: 25px;
}

.contact>article>p{
    margin: 0;
    position: absolute;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    color: #000000;
}

.contact>article>p:nth-child(3){
    top: 70px;
}

.contact>article>p:nth-child(4){
    top: 170px;
}

.contact>article>p span{
    font-style: italic;
    font-weight: 600;
}

.contact>address{
    display: flex;
    height: 150px;
    width: 650px;
    position: absolute;
    bottom: 120px;
    left: 35px;
}

.contact>address>div{
    height: 100%;
    width: calc(100%/3);
    position: relative;
}

.contact-details>img{
    left: 0;
    right: 0;
    width: 50px;
    margin: auto;
    position: absolute;
}

.contact-details>h3{
    text-align: center;
    top: 60px;
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.contact-details>h4{
    text-align: center;
    top: 60px;
    margin: 0;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    opacity: 0.8;
}

.contact-details:first-child a{
    position: absolute;
    font-size: 11px;
    color: #0652DD;
    font-weight: 600;
    letter-spacing: 1px;
    margin: auto;
    right: 35px;
    bottom: 10px;
}


/*----------Contact-End----------*/
/*----------Footer-Start----------*/
.foot{
    position: relative;
    width: 99.6vw;
    height: 230px;
    background-color: #FFB800;
}

.foot>.logo img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 120px;
}

.foot>.logo p{
    font-weight: 400;
    font-size: 36px;
    position: absolute;
    color: #020202;
    margin: 0;
    top: 135px;
    left: 50px;
}

.my-sev>h5{
    position: absolute;
    top: 30px;
    left: 485px;
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    color: #020202;
}

.my-sev ul{
    position: absolute;
    top: 67px;
    left: 455px;
    margin: 0;
}

.my-sev>ul div{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 80%;
    background-color: black;
    margin-right: 10px;
}

.my-sev li{
    display: block;
    cursor: pointer;
    padding-bottom: 4px;
    font-weight: 800;
    font-size: 16px;
    color: #020202;
}

.my-sev li:hover {
    padding-left: 10px;
    color: white;
    transition-property: color,padding-left;
    transition-duration: 0.5s;
}

.my-sev li:hover div{
    background-color: white;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.foot>.social-bar>.social{
    position: absolute;
    top: 110px;
    right: 145px;
}

.foot>.social-bar>.social img{
    width: 35px;
    height: 35px;
    padding-right: 15px;
}

.foot>.menu-bar>.menu li{
    top: 25px;
    text-align: center;
    padding: 0;
    position: relative;
    margin: 0;
}

.foot>.menu-bar>.menu i:first-child{
    position: relative;
    top: -10px;
    width: 100%;
    text-align: center;
    padding: 0;
}

h6{
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0;
    font-size: 10px;
    position: absolute;
    text-align: center;
}

h6>span{
    font-style: italic;
    pointer-events: painted;
}
/*----------Footer-End----------*/

.contact-form{
    position: absolute;
    top: 175px;
    right: 100px;
    width: max-content;
    height: 430px;
}

.contact-form>h1{
    color: #FFB800;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    width: max-content;
    margin-bottom: 10px;
}

.contact-form>.txt-box{
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}

.contact-form>.txt-box .text{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background: #EEEEEE;
    padding: 0 0 0 30px;
}

.contact-form label{
    position: absolute;
    top: 25px;
    left: 20px;
    height: max-content;
    transform: translateY(-50%);
}

.contact-form>div:nth-child(3){
    display: inline;
}

.contact-form>div:nth-child(3) .text{
    width: 210px;
    height: 50px;
}

.contact-form>div:nth-child(4){
    width: 150px;
    left: 250px;
}

.contact-form .txt-box .text:focus{
    background: #D9D9D9;
    outline: #ffb800 solid 2px;
}

.contact-form .txt-box .text:valid{
    outline: #ffb800 solid 2px;
}

.contact-form .txt-box .text:focus ~ label{
    top: 6px;
    left: 10px;
    color: #FFB800;
    background: #D9D9D9;
    font-weight: bold;
    -webkit-text-stroke: 0.01em white;
}

.contact-form .txt-box .text:valid ~ label{
    top: 6px;
    left: 10px;
    color: #FFB800;
    background: #EEEEEE;
    font-weight: bold;
    -webkit-text-stroke: 0.01em white;
}

input:invalid{
    color: #EEEEEE;
}

.contact-form .txt-area{
    position: relative;
    width: 400px;
    height: 100px;
}

.contact-form textarea{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    background: #EEEEEE;
    padding: 15px 0 0 30px;
    resize: none;
}

.contact-form textarea:focus{
    background: #D9D9D9;
    outline: #ffb800 solid 2px;
}

.contact-form textarea:focus ~ label{
    top: 6px;
    left: 10px;
    color: #FFB800;
    background: #D9D9D9;
    font-weight: bold;
    -webkit-text-stroke: 0.01em white;
}

.contact-form .txt-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 35px;
    border-radius: 10px;
}

.contact-form .txt-btn:hover .btn{
    background-color: #FFF;
    color: #FFB800;
}

.contact-form .txt-btn .btn{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #FFB800;
    border: 2px solid #FFB800;
    color: white;
    font-weight: 600;
}