section{
    width: 100vw;
    height: 100vh;
    background-color: #0652DD;
}

div{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 250px;
    height: 250px;
    border: 15px solid white;
    background-color: #7f8fa6;
    border-radius: 100%;
    border-top: 15px solid red;
}

h1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    color: white;
}

div:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
}

div:hover h1{
    transform: rotate(-360deg);
    transition-duration: 2s;
}