:root {
    --cl-theme: rgba(255, 184, 0, 1);
    --cl-theme-60: rgba(255, 184, 0, 0.6);
    --cl-theme-80: rgba(255, 184, 0, 0.8);
    --cl-white: rgba(255, 255, 255, 1);
    --cl-white-50: rgba(255, 255, 255, 0.5);
    --cl-black: rgb(0, 0, 0);
    --cl-black-60: rgba(0, 0, 0, 0.6);
    --cl-black-25: rgba(0, 0, 0, 0.25);
    --cl-gray: rgba(238, 238, 238, 1);
    --cl-gray-65: rgba(238, 238, 238, 0.65);
    --cl-blue: rgba(6, 82, 221, 1);
    --cl-light-red: rgba(235, 59, 90, 1);
    --cl-light-red-75: rgba(235, 59, 90, 0.75);
    --cl-light-green: rgba(50, 255, 126, 1);
    --cl-cyan: rgba(15, 185, 177, 1);
    --cl-purple: rgba(165, 94, 234, 1);
    --cl-light-cyan: rgba(10, 189, 227, 1);
    --cl-red: rgba(234, 32, 39, 1);
    --cl-green: rgba(32, 191, 107, 1);
    --cl-green-75: rgba(32, 191, 107, 0.75);
    --cl-light-blue: rgba(30, 144, 255, 1);
    --family-inter: 'Inter', sans-serif;
}

.full-view-point{
    width: 100vw;
    height: 100vh;
}

.center{
    left: 0;
    right: 0;
    margin: auto;
}

.top-right-50{
    top:50px;
    right: 50px
}

.btn-login{
    width: 125px;
    height: 50px;
    border-radius: 50px;
    border-width: 3px;
    font-weight: 500;
    font-size: 20px;
    border-color: var(--cl-blue);
    color: var(--cl-blue);
}

.btn-login:hover{
    background-color: var(--cl-light-green) !important;
    border-color: var(--cl-white) !important;
}

.header{
    top: 30%;
    width: max-content;
    color: var(--cl-theme);
}

.header-h1{
    font-family: var(--family-inter);
    width: max-content;
    font-weight: 700;
    font-size: 65px;
    line-height: 45px;
    text-shadow: 0 4px 4px var(--cl-black-25);
}

.header-line{
    width: 500px;
    height: 10px;
    border-radius: 10px;
    background-color: var(--cl-gray);
}

.header-p {
    font-family: var(--family-inter);
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: var(--cl-white);
    width: 800px;
    padding-top: 50px;
}

main>section:first-child>div>div .img-btn {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--cl-theme) !important;
}
