:root {
    --cl-theme: rgba(255, 184, 0, 1);
    --cl-theme-60: rgba(255, 184, 0, 0.6);
    --cl-theme-80: rgba(255, 184, 0, 0.8);
    --cl-white: rgba(255, 255, 255, 1);
    --cl-white-50: rgba(255, 255, 255, 0.5);
    --cl-black: rgba(0, 0, 0, 1);
    --cl-black-60: rgba(0, 0, 0, 0.6);
    --cl-gray: rgba(238, 238, 238, 1);
    --cl-gray-65: rgba(238, 238, 238, 0.65);
    --cl-blue: rgba(6, 82, 221, 1);
    --cl-light-red: rgba(235, 59, 90, 1);
    --cl-light-red-75: rgba(235, 59, 90, 0.75);
    --cl-light-green: rgba(50, 255, 126, 1);
    --cl-cyan: rgba(15, 185, 177, 1);
    --cl-purple: rgba(165, 94, 234, 1);
    --cl-light-cyan: rgba(10, 189, 227, 1);
    --cl-red: rgba(234, 32, 39, 1);
    --cl-green: rgba(32, 191, 107, 1);
    --cl-green-75: rgba(32, 191, 107, 0.75);
    --cl-light-blue: rgba(30, 144, 255, 1);
}

.full-view-point{
    width: 100vw;
    height: 100vh;
}

main>section:last-child>div>div .img-btn {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: var(--cl-theme) !important;
}
