.header-h1{
    top: 190px;
    font-size: 45px;
}

.header-line{
    width: 435px;
    height: 8px;
}

.header-p {
    font-size: 15px;
    width: 90%;
    padding-top: 30px;
}

.form{
    width: 500px;
    height: 400px;
    top: 145px;
    background: var(--cl-gray-65);
    border-radius: 50px;
}

.form-txt{
    left: 55px;
    bottom: -20px;
}

.login-header{
    top: 30px;
    position: relative;
    padding-left: 150px;
}